
<div class="col-10 offset-1 about">

  <h1>About Splurty</h1>
  <br />
   <p>
    Splurty was built by <a target="_blank" href="https://github.com/sharlinjoseph22">Sharlin.</a> One student who is on a mission to learn the most she can about web development and dive deeper into the world of coding.
  </p>
  <br />
  <p>
    With the help of UT coding bootcamp, she was able to build this web app to help individuals share life lessons that are beneficial to others. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag "shar.jpg", class: "img-fluid" %>
</div>

 <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Sharlin Joseph</h2>
      <br />
      <p>
        Sharlin Joseph is a student of life whose curiosity takes her wherever she is meant to go. Thank you for visiting! 
      </p>
    </div>
  </div>
  <br class="clear" />

</div>




<br class="clear" />
<br />
<br />
<br />
<br />