<h2>
  <span>Advise Number <%= @quote.id %>:</span>
</h2>

<h1 class= "heading"><%= @quote.saying %></h1> 
<h2 id="heading", class="float-right">- <%= @quote.author %></h2>


<br class="clear" />
<br />
<br />
<br />